/* padding 은 컨텐츠의 안쪽에 여백을 줌
   margin 은 컨텐츠의 바깥쪽에 여백을 줌 */

/* box-sizing : border-box; 를 사용 하기 전
   width : 컨텐츠의 가로 */

/* box-sizing : border-box; 를 사용 한 후
   width : 박스의 가로 */

*{
    box-sizing: border-box;
}

.black{
    padding: 20px;    
    height: 300px;
    border: 1px solid black;
}

.red{    
    height: 100%;
    border: 1px solid red;    
}

.black2{
    height: 300px;
    border: 1px solid black;
}
.blue{
    height: 100%;
    border: 2px solid blue;
    margin: 20px;
    height: calc(100% - 20px * 2);
}